.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--alt-bg {
  background-color: $team-bg;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: $title-text-color;
}
